<form class="ui large form segment">
  <h3 class="ui header">Ajoutez un lien</h3>

  <div class="field">
    <label for="title">Titre:</label>
    <input name="title" #newtitle >
  </div>

  <div class="field">
    <label for="link">Lien:</label>
    <input name="link" #newlink >
  </div>

  <button (click)="addArticle(newtitle, newlink)" class="ui positive right floated button">
    Soumettre
  </button>

</form>

<div class="ui grid posts" >
  <app-article
          *ngFor="let article of sortedArticles()"
          [article]="article"  >
  </app-article>
</div>
